html {
    background-color: #181818;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#app {
    height: 100vh;
}
