html {
    background-color: #19161d;
    color: #ffffff;
}

body {
    margin: 0;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

#app {
    height: 100vh;
}
